@font-face {
    font-family: 'Bristol maver';
    src: url('"C:\Users\ucg_g\OneDrive\Imagens\SITE MARCELIO\fonts\Bristol maver.ttf"') format('ttf'),
    /* Adicione outros formatos de fonte, se necessário */
  }
body {
    background-color: #000000;
    font-family: Bristol maver, sans-serif;
    text-align: center;
    margin: 20px;
  }
  #meuBotao {
    position: relative;
    padding: 10px 60px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50px;
    top: 20vw;
    background-color: #be9847;
  }

  /*Logo na primeira pagina*/

  .image .barber-logo {
    position: relative;
    width: 234px;
    height: auto;
    top: 10vw
    
  }
  